@keyframes heardbeat {
    //  начало анимации
    from{
    // это соответствует 100% = scale(1)
        transform: scale(1); 
    }
    // промижуточная анимация ее можно расписать по процентам
    50% {
        transform: scale(1.4); 
    }
    // до какого момента она будет идти 
    to{
        // наше сердце будет увеличиваться на 10%
        transform: scale(1); 
    }
}