@media screen and (max-width: 575px){
.consultation{
    .title_left{
        font-size: 22px;
        margin-top: -40px;
        padding-left: 20px;
    }
    &__descr{
        margin-top: 20px;
        padding-left: 20px;
        font-size: 18px;
    }
    .feed-form{
        // margin-left: 120px;
        padding-left: 20px;
    }





    }





}