@media screen and (max-width: 575px){

.x2{
    
    &__ggg{
        display: inline-block;
        margin-left: 180px;
        margin-top: 20px;
    }
    &__A{
        padding-top: 20px;
    }
    &__iconmy{
        width: 100px;
        height: 100px;
    }
    &__B{
        font-size: 22px;
    }
    &__C{
        font-size: 20px;
    }

}







}