@media screen and (max-width: 575px){
.promo{
min-width: 575px;
&__header{
    font-size: 30px;
    padding-right: 40px;
}
&__subheader{
    font-size: 19px;
    padding-right: 40px;
}
&__icon{
    margin: 60px;
}
&__link{
        margin-right: 20px;
        
    }
    
}

}
.button{
&_main{
    width: 270px;
    margin-right: 20px;
}}




.header{
    padding: 0 20px 0 20px;
&__logo{
    width: 200px;
   
}


&__official{
    
    font-size: 10px;
    span{
        font-size: 15px;
    }
}
}












